<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yundao.ydwms">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:name=".YDWMSApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".ScanListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".ProductIncomingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".phonetest.ProductIncomingActivityPhoneTest"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".HalfProductOutgoingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".ProductWarehouseChangingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".ProductInventoryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".ProductProductUpdateActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".ProductOutgoingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".phonetest.ProductOutgoingActivityPhoneTest"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".ProductPackagingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".phonetest.ProductPackagingActivityPhoneTest"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".ProductCatalogueActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".ConnectingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".SettingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".RejectProductIncomingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".HalfProductIncomingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".ProductInventoryChooseActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".ProductSlittingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".OrdersSearchActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".UploadSuccessActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>

        <activity android:name=".SubstandardProductIncomingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>



        <service android:name=".print.PrintJobMonitorService"/>
    </application>

</manifest>